<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3%;
    background-color: white;	
      margin: 200px auto;
      font-family: Raleway;
      padding: 40px;
      width: 20%;
    }

body{
    background-color: rgb(103, 185, 158);
}

</style>
</head>
<body>
    <div class="container">
    <form action="/predict" method="POST">
        <label for="">transaction date : </label><br>
        <input type="text" name="1" autocomplete="off"><br><br>

        <label for="">house age : </label><br>
        <input type="text" name="2" autocomplete="off"><br><br>

        <label for="">distance to the nearest MRT station : </label><br>
        <input type="text" name="3" autocomplete="off"><br><br>
        
        <label for="">number of convenience stores : </label><br>
        <input type="text" name="4" autocomplete="off"><br><br>

        <label for="">latitude : </label><br>
        <input type="text" name="5" autocomplete="off"><br><br>

        <label for="">longitude : </label><br>
        <input type="text" name="6" autocomplete="off"><br><br>
        <button type="submit" value="predict">Predict</button>
      </form>
    </div>
</body>
</html>